
body {
    margin: 0;
    padding: 0;
    font-family:"Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
}
h1 {
    width: 255px;
    margin: 0 auto 8px;
    font-family: "Georgia", serif;
    text-align: center;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    text-shadow: 3px 3px 1px black;
    padding: 20px 0;
}

h5 {
    border-bottom: 2px solid #ccccc;
    padding-bottom: 12px;


}
.container{
    width: 510px;
    margin: 0 auto;
    padding: 0 20px;

}
.list-unstyled {
  text-align: center;
  width: 500px;
  border: 1px solid black;
}

